.input_field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.526);
}

h1 {
    letter-spacing: 3px;
    color: #242424;
}

.input_box{
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.btn_add{
    width: 20%;
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #242424;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.btn_add:hover {
    background-color: #555555;
}

.btn_add:active {
    background-color: #777777;
}